.home {
  background: url("/src/assets/images/travel-banner.jpeg") no-repeat;
  background-size: cover;
  background-position: 0% 50%;
}

.travel-heading {
  font-size: 5rem;
  font-weight: bolder;
}

.travel-heading span {
  color: #0bdef9;
}

.form-container {
  padding: 0 14rem;
}

input,
select {
  color: gray;
  height: 2.5rem;
  min-width: 100%;
  border: 1px solid gray;
}

option {
  background-color: #fff;
}

option:hover {
  background-color: gray;
}

input:focus,
select:focus {
  outline: 1px solid #ee590e;
}

label {
  margin-bottom: 0.25rem;
}

.disable {
  background-color: lightgray;
  /* color: lightgray; */
}


@media screen and (max-width: 768px) {
  .home {
    background-position: 50%;
  }

  .travel-heading {
    padding: 0;
    font-size: 3rem;
    font-weight: 900;
  }

  .form-title {
    margin: 0;
    padding: 0;
  }

  .form-container {
    padding: 0;
  }

  .form-container p {
    font-size: 1rem;
  }
}