#footer {
  background-color: #032738;
  padding: 2rem 14rem;
  color: #fff
}

a {
  display: block;
  text-decoration: none;
  color: white
}

@media screen and (max-width:768px) {
  #footer {
    padding: 2rem 1rem;
  }
}